/* Browser reset */
html {
    box-sizing: border-box;
    /* line-height: 1.15; */
    -webkit-text-size-adjust: 100%;
}


/* Variables */
:root {
  --accent-color: #3685B5;  
  /* Dark Slate Gray */
  --default-color: #2B2D54;
  --em-color: #0471A6;
  --highlight-color: #5C9FB3;
  --alt-color: DimGray;
  /* offwhite */
  --bg-color: #fefefe;
}
* {
  box-sizing: border-box;
}

/* 
*::before,
*::after {
*/

body {
  /* Nice light gray background to offset the text a little */
  /* width: fit-content; */
  background-color: var(--bg-color);
  color: var(--default-color);
  /* margin: 0 auto;
	max-width: 50em; 
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  padding: 2em 1em; */
	max-width: 80ch;
	padding: 3em 1em;
	margin-inline: auto;
	line-height: 1.5;
	font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  font-family: "Lato", sans-serif, system-ui;

  /* System fonts as fallbacks */
  scroll-behavior: smooth;
}
h1,
h2,
strong {
    color: var(--default-color);
    font-family: "Muli", sans-serif;
}
h2 {
    margin-top: 1em;
}
a {
    color: var(--em-color);
}
a:hover {
    color: var(--highlight-color);
}
h2 a {
  text-decoration: none;
  color: var(--default-color);
}


.mjpage__block {
	/* text-align: center;
	margin: 1em 0em;
	position: relative;
	display: block!important;
	max-height: none;
	min-width: 0;
	min-height: 0;
	width: 100%
	text-indent: 0; */
  width: auto!important;
  max-width: 100%;
	overflow: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
}

header p {
  align-items: right;
  font-size: 0.6em;
  font-weight: normal;
}

footer {
  clear: both;
  float: right;
  margin: 3em auto;
  align-items: right;
  font-size: 0.5em;
}

article {
}

.content {
	width: 100%;
  float: left;
}

aside {
  font-size: 0.8em;
  margin: 0.5em 1em;
  width: 30%;
  color: var(--alt-color);
  float: right;
  clear: right;
}

.right {
  float: right
}

figure {
  box-sizing: border-box;
}

figure img {
  max-width: 100%;
}


figcaption {
  color: var(--alt-color);
}


@media (max-width: 650px) {
  header {
    display: flex; 
    /* align-items: baseline;  */
    flex-flow: column;  
  }
}

@media (max-width: 480px) {
  /*
  header {
    width: 8em;
  }
  */

  aside {
    width: 100%;  
    border-top: 1px var(--alt-color) solid;
    border-bottom: 1px var(--alt-color) solid;
    padding: 0.3em;
  }
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}


.listing article cite {
  font-size: 1.2em;
}

.listing date {
  float: right;
}

/*
@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
    max-width: 100%;
  }

  a, a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
    margin: 15mm 20mm 15mm 10mm;
}

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
*/
